<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <h2>This is an api.</h2>
        <p>Each route is mapped to a corresponding controller function 
            (getAllMovies, addMovie, getMovie, updateMovie, deleteMovie) 
            defined in moviesController.js.

            Make sure to implement these controller functions
             to handle the corresponding CRUD operations. Additionally, you may 
             need to adjust the route handlers (moviesController) to properly handle
              the request and response objects according to your application's 
              requirements.</p>
    </div>
</body>
</html>